<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
       android:name=".DependancyInjection.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CatastropheCompass"
        tools:targetApi="31">
        <activity
            android:name=".UILayer.TeamOrganizor.RecordAidRequestTruckLogisticsActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.HQOrganizer.Admin.AddEditMemberActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.HQOrganizer.Admin.AddEditOrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.HQOrganizer.AssignToGetActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.HQOrganizer.HQOrganizerMainActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.FieldOrganizer.UpdateAidStatusActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.FieldOrganizer.HousingUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.FieldOrganizer.DemographicUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.FieldOrganizer.FieldOrganizerMainActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.TeamOrganizor.TeamOrganizorAddEditActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.TeamOrganizor.TeamOrganizorMainActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.TeamLeader.TeamLeaderMainActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.Logistics.LogisticsMainActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.Common.Chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.VolunteerInBase.VIBHomeActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.VolunteerInBase.VIBStartActivity"
            android:exported="false"
            android:label="@string/title_activity_vibstart"
            android:theme="@style/Theme.CatastropheCompass.NoActionBar" />
        <activity
            android:name=".UILayer.OutsideVolunteer.OVWorkforceActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.OutsideVolunteer.OVAidActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.OutsideVolunteer.OVMainActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.OutsideVolunteer.OVFirstActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.Login.ManagerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".UILayer.Login.LoginOptionsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>